.heroSection {
  height: 100vh;
  background-image: url('/images/main-banner.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.content {
  color: white;
  
  h1 {
    font-size: 64px;
    margin-bottom: 16px;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 32px;
  }
  
  button {
    padding: 16px 32px;
    background: white;
    border: none;
    border-radius: 60px;
    font-size: 18px;
    cursor: pointer;
  }
} 