.categoriesSection {
  margin-top: 66px;
  padding: 0 24px;
}

.grid {
  display: grid;
  gap: 24px;
  margin: 0 auto;
  width: 100%;
  max-width: 1384px;
  grid-template-columns: repeat(2, calc(50% - 7px));
}

.category {
  position: relative;
  text-decoration: none;
  display: block;
  background: #000;
  border-radius: 12px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 12px;
    pointer-events: none;
    z-index: 2;
  }

  .title {
    position: absolute;
    bottom: 24px;
    left: 12px;
    color: white;
    font-size: 24px;
    font-weight: normal;
    z-index: 2;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  &:hover img {
    transform: scale(1.05);
  }
}

.keyboard {
  grid-column: 1;
  grid-row: 1;
  height: 604px;
}

.mouse {
  grid-column: 2;
  grid-row: 1;
  height: 290px;
}

.switches {
  grid-column: 1;
  grid-row: 2;
  width: calc((100% - 14px) / 2);
  height: 290px;
}

.keycaps {
  grid-column: 1;
  grid-row: 2;
  width: calc((100% - 14px) / 2);
  height: 290px;
  margin-left: calc(50% + 7px);
}

.mousepad {
  grid-column: 2;
  grid-row: 1 / span 2;
  height: 604px;
  margin-top: 314px;
}

@media (max-width: 1366px) {
  .grid {
    max-width: 1270px;
  }

  .keyboard {
    height: 458px;
  }

  .mouse {
    height: 220px;
  }

  .switches,
  .keycaps {
    height: 220px;
  }

  .mousepad {
    height: 458px;
    margin-top: 244px;
  }
}

@media (min-width: 1367px) and (max-width: 1480px) {
  .grid {
    max-width: 1384px;
  }

  .keyboard {
    height: 504px;
  }

  .mouse {
    height: 240px;
  }

  .switches,
  .keycaps {
    height: 240px;
  }

  .mousepad {
    height: 504px;
    margin-top: 264px;
  }
}

@media (min-width: 1481px) {
  .grid {
    max-width: 1824px;
  }

  .keyboard {
    height: 596px;
  }

  .mouse {
    height: 282px;
  }

  .switches,
  .keycaps {
    height: 282px;
  }

  .mousepad {
    height: 596px;
    margin-top: 306px;
  }
}