.displaySection {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 0 24px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  border-radius: 24px;
  height: 692px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
  position: relative;
  z-index: 2;
}

.subtitle {
  font-size: 24px;
  margin-bottom: 12px;
}

.title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 24px;
}

.button {
  background: white;
  color: black;
  padding: 16px 32px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

// 1366px
@media (max-width: 1366px) {
  .displaySection {
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper {
    height: 635px;
  }
}

// 1480px (базовый)
@media (min-width: 1367px) and (max-width: 1480px) {
  .displaySection {
    max-width: 1384px;
    margin-left: auto;
    margin-right: auto;
  }
}

// 1920px
@media (min-width: 1481px) {
  .displaySection {
    max-width: 1824px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper {
    height: 912px;
  }
} 